:root {
    --background: #F2F2F2;
    --background-sub: #E8E8E8;
    --divider-light: #D1D1D1;
    --divider-dark: #000000;
    --nav-button: #000000;
    --nav-button-inactive: rgba(0, 0, 0, 0.35);
    --link-color: rgba(0, 0, 0, 0.90);
    --link-inactive: rgba(0, 0, 0, 0.25);
    --title: #000000;
    --title-sub: #A1A1A1;
    --paragraph-normal: #808080;
    --paragraph-black: #202020;
    --paragraph-swift: #F25700;
    --paragraph-swiftui: #4987FF;
    --paragraph-cpp: #0084CE;
    --paragraph-qt: #4CC700;
    --paragraph-js: #F9B300;
    --paragraph-html: #DB3500;
    --paragraph-css: #0085E5;
    --paragraph-electron: #86C7C7;
    --paragraph-csharp: #BA2DEC;
    --paragraph-unity: #212121;
    --paragraph-python: #5A97BA;
    --image-background: #DADADA;
    --overlay-title-light: #000000;
    --overlay-title-dark: #F4F4F4;
    --overlay-paragraph-light: #474747;
    --overlay-paragraph-dark: rgba(205, 205, 205, 0.85);
    --overlay-panel-intro: rgba(242, 242, 242, 0.50);
    --overlay-panel-opgg: rgb(24, 24, 27, 0.50);
    --overlay-panel-lolicon: rgba(2, 11, 21, 0.50);
    --overlay-panel-plan: rgba(59, 59, 59, 0.50);
    --overlay-panel-p3: rgba(95, 98, 101, 0.18);
    --overlay-panel-c40: rgba(95, 98, 101, 0.18);
    --overlay-panel-cybertruck: rgba(95, 98, 101, 0.18);
    --overlay-gradient-intro: #E5E5E5;
    --overlay-gradient-opgg: #19191D;
    --overlay-gradient-lolicon: #020D18;
    --overlay-gradient-plan: #2B2B2B;
    --overlay-gradient-p3: #9D9D9D;
    --overlay-gradient-c40: #E5E5E5;
    --overlay-gradient-cybertruck: #9A9C9F;
}

.disabled-link {
    pointer-events: none;
}

@font-face {
    font-family: "NeueHaasUnicaProMedium";
    src: url("./fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasUnicaProMediumIt";
    src: url("./fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-MediumIt.ttf") format("truetype");
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: "NeueHaasUnicaProBold";
    src: url("./fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasUnicaProRegular";
    src: url("./fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background);
}

.nav-bar {
    height: 50px;
    background-color: var(--background);
    border-bottom: 1px solid var(--divider-light);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.nav-bar-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .nav-item {
    color: var(--nav-button-inactive);
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    font-family: "NeueHaasUnicaProRegular";
}

.nav-bar .active-nav-item {
    color: var(--nav-button) !important;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    font-family: "NeueHaasUnicaProRegular";
}

.manual-divider {
    width: 100%;
    height: 1px;
    background-color: var(--divider-light);
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
}

.contents-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border-top: 1px solid var(--divider-light);
}

.scroll-container {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-height: 100%;
    overflow: overlay;
}

#scroll-container-design {
    margin-left: auto;
    margin-right: auto;
}

.contents-row-project {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: none;
    justify-content: center;
    height: auto;
    border-top: 1px solid var(--divider-light);
}

.contents-row-design {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: none;
    justify-content: center;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}

#first-row {
    margin-top: 50px;
}

#last-row {
    margin-bottom: 50px;
    border-bottom: 1px solid var(--divider-light);
}

.contents-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 30px;
}

.contents-inner-image {
    display: flex;
    flex-direction: column;
    overflow: none;
    flex: 1;
}

.design-inner-image {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    overflow: none;
    flex: 1;
}

#about-inner-right {
    background-color: #474747;
}

#about-inner-left {
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
}

#project-inner-text-left {
    padding-top: 30px;
    padding-right: 30px;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
}

#project-inner-text-right {
    padding-top: 30px;
    padding-left: 30px;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
}

#project-inner-text-right-about {
    padding-top: 30px;
    padding-left: 30px;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    margin-right: 10%;
}

#project-inner-image-right {
    padding-left: 30px;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
}

#project-inner-image-left {
    padding-right: 30px;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
}

.image-main {
    display: block;
}

.image-backup {
    display: none;
}

#deisgn-inner-image-right {
    padding-left: 15px;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
}

#deisgn-inner-image-left {
    padding-right: 15px;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
}

.about-image-container {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}

.about-image {
    display: block;
    height: 275px;
    width: 275px;
}

.about-image>img {
    height: auto;
    width: 275px;
    max-width: 100%;
    object-fit: contain;
}

.project-image-container {
    display: block;
}

.design-image-container {
    display: block;
    place-items: center;
}

.project-image {
    display: block;
    height: 475px;
}

.design-image {
    display: block;
    background-color: var(--image-background);
}

.image-empty {
    display: block !important;
}

.design-image-empty {
    display: block;
}

.project-image>img {
    height: 475px;
    width: auto;
    object-fit: cover;
    cursor: pointer;
    background-color: #000000;
}

.design-image>img {
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.design-overlay-panel-intro {
    display: none;
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-image-overlay-intro:hover .design-overlay-panel-intro {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--overlay-panel-intro);
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-overlay-panel-opgg {
    display: none;
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-image-overlay-opgg:hover .design-overlay-panel-opgg {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--overlay-panel-opgg);
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-overlay-panel-lol {
    display: none;
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-image-overlay-lol:hover .design-overlay-panel-lol {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--overlay-panel-lolicon);
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-overlay-panel-plan {
    display: none;
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-image-overlay-plan:hover .design-overlay-panel-plan {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--overlay-panel-plan);
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-overlay-panel-p3 {
    display: none;
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-image-overlay-p3:hover .design-overlay-panel-p3 {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--overlay-panel-p3);
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-overlay-panel-c40 {
    display: none;
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-image-overlay-c40:hover .design-overlay-panel-c40 {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--overlay-panel-c40);
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-overlay-panel-cybertruck {
    display: none;
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-image-overlay-cybertruck:hover .design-overlay-panel-cybertruck {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--overlay-panel-p3);
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.design-image-overlay-intro {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 44%;
    height: 100%;
}

.design-image-overlay-intro:hover {
    display: block;
    position: absolute;
    top: 0px;
    background: linear-gradient(rgba(230, 100, 100, 0), var(--overlay-gradient-intro));
    z-index: 2;
    width: 44%;
    height: 100%;
    cursor: pointer;
}

.design-image-overlay-opgg {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 44%;
    height: 100%;
}

.design-image-overlay-opgg:hover {
    display: block;
    position: absolute;
    top: 0px;
    background: linear-gradient(rgba(230, 100, 100, 0), var(--overlay-gradient-opgg));
    z-index: 2;
    width: 44%;
    height: 100%;
    cursor: pointer;
}

.design-image-overlay-lol {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 44%;
    height: 100%;
}

.design-image-overlay-lol:hover {
    display: block;
    position: absolute;
    top: 0px;
    background: linear-gradient(rgba(230, 100, 100, 0), var(--overlay-gradient-lolicon));
    z-index: 2;
    width: 44%;
    height: 100%;
    cursor: pointer;
}

.design-image-overlay-plan {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 44%;
    height: 100%;
}

.design-image-overlay-plan:hover {
    display: block;
    position: absolute;
    top: 0px;
    background: linear-gradient(rgba(230, 100, 100, 0), var(--overlay-gradient-plan));
    z-index: 2;
    width: 44%;
    height: 100%;
    cursor: pointer;
}

.design-image-overlay-p3 {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 44%;
    height: 100%;
}

.design-image-overlay-p3:hover {
    display: block;
    position: absolute;
    top: 0px;
    background: linear-gradient(rgba(230, 100, 100, 0), var(--overlay-gradient-p3));
    z-index: 2;
    width: 44%;
    height: 100%;
    cursor: pointer;
}

.design-image-overlay-c40 {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 44%;
    height: 100%;
}

.design-image-overlay-c40:hover {
    display: block;
    position: absolute;
    top: 0px;
    background: linear-gradient(rgba(230, 100, 100, 0), var(--overlay-gradient-c40));
    z-index: 2;
    width: 44%;
    height: 100%;
    cursor: pointer;
}

.design-image-overlay-cybertruck {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 44%;
    height: 100%;
}

.design-image-overlay-cybertruck:hover {
    display: block;
    position: absolute;
    top: 0px;
    background: linear-gradient(rgba(230, 100, 100, 0), var(--overlay-gradient-cybertruck));
    z-index: 2;
    width: 44%;
    height: 100%;
    cursor: pointer;
}

.about-links-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: column;
    padding-top: 8px;
    width: 100%;
}

#about-links-container-backup {
    display: none;
}

.about-link-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    justify-content: space-between;
}

.about-link-key {
    color: var(--link-inactive);
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    font-family: "NeueHaasUnicaProRegular";
}

.about-link-value {
    color: var(--link-color);
    font-weight: bold;
    font-size: 13px;
    font-family: "NeueHaasUnicaProRegular";
    text-decoration: underline;
}

.page-spacer {
    background-color: var(--background-sub);
    display: block;
    height: 28px;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    text-align: left;
    flex-direction: column;
    row-gap: 10px;
}

.text-container-overlay-vertical {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    text-align: left;
    flex-direction: column;
    row-gap: 10px;
}

.text-container-overlay-horizontal {
    display: flex;
    flex-wrap: nowrap;
    margin: 15px;
    text-align: left;
    flex-direction: row;
    align-items: center;
}

.text-container-overlay-horizontal #align-left {
    margin-right: 10px !important;
}

.text-container-overlay-horizontal #align-right {
    margin-left: 10px !important;
}

#text-container-about {
    padding-right: 25%;
}

#text-container-left {
    padding-left: 50%;
}

#text-container-right {
    padding-right: 50%;
}

.divider-top {
    width: 2px;
    background-color: var(--divider-dark);
    margin-top: 50px;
}

#divider-programming {
    display: block;
}

.divider-bottom {
    width: 2px;
    background-color: var(--divider-dark);
}

.divider-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.divider-left {
    height: 2px;
    width: 100%;
    margin-left: 35px;
    background-color: var(--divider-dark);
}

#divider-about {
    display: block;
}

.text-title {
    color: var(--title);
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    font-family: "NeueHaasUnicaProMedium";
}

.text-title-overlay-light {
    color: var(--overlay-title-dark);
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    font-family: "NeueHaasUnicaProRegular";
}

.text-title-overlay-dark {
    color: var(--overlay-title-light);
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    font-family: "NeueHaasUnicaProRegular";
}

.text-title-small {
    color: var(--title);
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    margin-top: 15px;
    font-family: "NeueHaasUnicaProMedium";
}

.text-title-skills {
    color: var(--title);
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    margin-top: auto;
    font-family: "NeueHaasUnicaProMedium";
}

.text-title-section {
    color: var(--nav-button-inactive);
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    margin-left: 5%;
    font-family: "NeueHaasUnicaProRegular";
}

.text-paragraph {
    color: var(--paragraph-normal);
    font-size: 15px;
    margin: 0;
    font-family: "NeueHaasUnicaProRegular";
}

.text-paragraph-overlay-light {
    color: var(--overlay-paragraph-dark);
    font-size: 14px;
    margin: 0;
    font-family: "NeueHaasUnicaProRegular";
}

.text-paragraph-overlay-dark {
    color: var(--overlay-paragraph-light);
    font-size: 14px;
    margin: 0;
    font-family: "NeueHaasUnicaProRegular";
}

.text-paragraph me {
    font-weight: bold;
    color: var(--paragraph-black);
}

.text-paragraph dallas {
    font-weight: bold;
    color: var(--paragraph-black);
}

.text-paragraph swift {
    font-weight: bold;
    color: var(--paragraph-swift);
}

.text-paragraph swiftui {
    font-weight: bold;
    color: var(--paragraph-swiftui);
}

.text-paragraph cpp {
    font-weight: bold;
    color: var(--paragraph-cpp);
}

.text-paragraph qt {
    font-weight: bold;
    color: var(--paragraph-qt);
}

.text-paragraph js {
    font-weight: bold;
    color: var(--paragraph-js);
}

.text-paragraph htm {
    font-weight: bold;
    color: var(--paragraph-html);
}

.text-paragraph css {
    font-weight: bold;
    color: var(--paragraph-css);
}

.text-paragraph electron {
    font-weight: bold;
    color: var(--paragraph-electron);
}

.text-paragraph csharp {
    font-weight: bold;
    color: var(--paragraph-csharp);
}

.text-paragraph unity {
    font-weight: bold;
    color: var(--paragraph-unity);
}

.text-paragraph python {
    font-weight: bold;
    color: var(--paragraph-python);
}

@media only screen and (max-width: 950px) {
    #text-container-about {
        padding-right: 0;
    }
    #text-container-left {
        padding-left: 0;
    }
    #text-container-right {
        padding-right: 0;
    }
    .contents-row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        padding-left: 5%;
        padding-right: 5%;
        border-top: 1px solid var(--divider-light);
    }
    #project-inner-text-right-about {
        padding-top: 0;
        padding-left: 0;
        flex-direction: row;
        text-align: left;
        justify-content: flex-start;
        margin-right: 0;
    }
    #divider-about {
        display: none;
    }
    #divider-programming {
        display: none;
    }
    #project-inner-image-right {
        padding-left: 0;
        flex-direction: row;
        text-align: left;
        justify-content: flex-start;
    }
    #project-inner-image-left {
        padding-right: 0;
        flex-direction: row;
        text-align: right;
        justify-content: flex-end;
    }
    #deisgn-inner-image-right {
        padding-left: 0;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    #deisgn-inner-image-left {
        padding-right: 0;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    /* .image-empty {
        display: none !important;
    } */
    .contents-row-design {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        overflow: none;
        justify-content: center;
        flex-direction: column;
    }
    .design-inner-image {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        overflow: none;
        flex: 1;
    }
    .design-image {
        display: block;
        background-color: none;
        height: auto;
        width: auto;
    }
    .design-image>img {
        height: auto;
        width: 100%;
        object-fit: contain;
        cursor: pointer;
    }
    .text-title-section {
        color: var(--nav-button-inactive);
        font-weight: bold;
        font-size: 15px;
        margin: 0;
        margin-left: 5%;
        font-family: "NeueHaasUnicaProRegular";
    }
    .image-main {
        display: none;
    }
    .image-backup {
        display: block;
    }
    .contents-inner {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-bottom: 30px;
        align-items: center;
    }
    .text-title-skills {
        color: var(--title);
        font-weight: bold;
        font-size: 13px;
        margin: 0;
        margin-top: 15px;
        font-family: "NeueHaasUnicaProMedium";
    }
    .project-image {
        display: block;
        background-color: #000000;
        height: auto;
    }
    .project-image>img {
        height: auto;
        width: auto;
        max-width: 100%;
        object-fit: cover;
        cursor: pointer;
    }
    .about-image-container {
        display: none;
    }
    #about-links-container-backup {
        display: block;
        margin-bottom: 30px;
    }
    #first-row {
        margin-top: 0;
    }
    .contents-row-project {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: none;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
        border-top: 1px solid var(--divider-light);
    }
    #project-inner-text-left {
        padding-top: 40px;
        padding-right: 0;
        flex-direction: row;
        text-align: left;
        justify-content: flex-start;
    }
    #project-inner-text-right {
        padding-top: 40px;
        padding-left: 0;
        flex-direction: row;
        text-align: left;
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1370px) and (max-width: 1499px) {
    #text-container-left {
        padding-left: 30%;
    }
    #text-container-right {
        padding-right: 30%;
    }
}

@media only screen and (min-width: 1240px) and (max-width: 1369px) {
    #text-container-left {
        padding-left: 15%;
    }
    #text-container-right {
        padding-right: 15%;
    }
}

@media only screen and (min-width: 951px) and (max-width: 1239px) {
    #text-container-left {
        padding-left: 5%;
    }
    #text-container-right {
        padding-right: 5%;
    }
}

body.theme-dark {
    /*TODO: change colors for dark mode*/
    --background: #F2F2F2;
    --background-sub: #E8E8E8;
    --divider-light: #D1D1D1;
    --divider-dark: #000000;
    --nav-button: #000000;
    --nav-button-inactive: rgba(0, 0, 0, 0.35);
    --link-color: rgba(0, 0, 0, 0.90);
    --link-inactive: rgba(0, 0, 0, 0.25);
    --title: #000000;
    --title-sub: #A1A1A1;
    --paragraph-normal: #808080;
    --paragraph-black: #202020;
    --paragraph-swift: #F25700;
    --paragraph-swiftui: #4987FF;
    --paragraph-cpp: #0084CE;
    --paragraph-qt: #4CC700;
    --paragraph-js: #F9B300;
    --paragraph-html: #DB3500;
    --paragraph-css: #0085E5;
    --paragraph-electron: #86C7C7;
    --paragraph-csharp: #BA2DEC;
    --paragraph-unity: #212121;
    --paragraph-python: #5A97BA;
    --image-background: #DADADA;
    --overlay-title-light: #000000;
    --overlay-paragraph-light: #474747;
    --overlay-title-dark: #F4F4F4;
    --overlay-paragraph-dark: #8C8C8C;
    --overlay-gradient-intro: #E5E5E5;
    --overlay-gradient-opgg: #19191D;
    --overlay-gradient-lolicon: #020D18;
    --overlay-gradient-plan: #2B2B2B;
    --overlay-gradient-p3: #9D9D9D;
    --overlay-gradient-c40: #E5E5E5;
    --overlay-gradient-cybertruck: #9A9C9F;
}